/*** TABLE OF CONTENTS:

	+ CHAPTER 1 : HEADER & FOOTER STYLES
	+ CHAPTER 2 : MAIN CONTENT BLOCK STYLES

***/	



/*** CHAPTER 1 : HEADER & FOOTER STYLES ***/

/******************** BEGIN (Header & Footer Styles - Author J. Ross) ********************/

/*** GLOBAL WRAPPER ***/

	body {
		width:960px;
		margin-left:auto;
		margin-right:auto;
		font-family:Arial;
		/*border: solid black 1px;*/
	}


/*** HEADER ***/

	/** HEADER BG **/
	
	header hgroup #headerSwoosh {
		background:transparent url("../images/headerSwoosh.png") no-repeat;
		width:960px;
		height:206px;
	}
	
	/** LOGO **/
	header hgroup #logo {
		position:relative;
		bottom:170px;
		left:50px;
		float:left;
		clear:both;
	}
	
	/** SOCIAL & MYAiCAMPUS **/
	header hgroup #social {
		position:relative;
		float:right;
		bottom:150px;
		right:100px;
	}
	
	header hgroup #social li
	{
		display:inline-block;
	}
	
	header hgroup #social #myAiCampus {
		background:transparent url("../images/myaicampus_button.png") no-repeat;
		width:96px;
		height:26px;
	}
	
	header hgroup #social #twitter {
		background:transparent url("../images/twitter_button.png") no-repeat;
		width:25px;
		height:25px;
	}
	
	header hgroup #social #facebook {
		background:transparent url("../images/fb_button.png") no-repeat;
		width:26px;
		height:26px;
	}
	
	header hgroup #social #rss {
		background:transparent url("../images/rss_button.png") no-repeat;
		width:27px;
		height:26px;
	}
	
	/** SEARCH **/
	header hgroup #search {
		position:relative;
		float:right;
		bottom:100px;
	}
	
	/** NAVIGATION **/
	header #mainNav {
		background:transparent url("../images/navBar.png") repeat-x;
		width:960px;
		height:54px;
		position:relative;
		bottom:132px;
		float:left;
		clear:both;
	}
	
	nav ul li {
		display:inline;
		margin-left:50px;
		position:relative;
		top:16px;
	}
	
	nav ul li a {
		color:#860f0f;
		font-size:14pt;
		font-family:Arial;
		font-weight:bold;
		text-decoration:none;
	}
	
	nav ul li a:hover {
		color:#ffebeb;
	}
	
	/** SUBNAV **/
	nav ul li .subnav {
		display:none;
	}
	
/*** FOOTER ***/

	/** FOOTER SKYLINE **/
	footer #skyline {
	background: transparent url("../images/repeating_skyline.png") repeat-x;	
	height:220px;
	width:960px;
	float:left;
	clear:both;
	z-index:-1;
	position:relative;
	top:45px;
	}

	/** FOOTER LINKS **/
	footer #footerLinks {
	text-align:center;
	font-family:Arial;
	font-size:10pt;
	padding-top:16px;
	padding-left:16px;
	padding-bottom:16px;
	padding-right:16px;
	clear:both;
	}
	
	footer #footerLinks a {
		text-decoration:none;
		color:#4e0808;
	}
	
	footer #footerLinks li {
		margin-left:15px;
		display:inline;
	}
	
	/** COPYRIGHT **/
	footer #copyright {
	color:#fcfcfc;
	background-color:#4e0808;	
	text-align:center;
	font-family:Arial;
	font-size:8pt;
	padding:10px;
	clear:both;
	}
	
	footer #copyright li {
		margin-left:15px;
		display:inline;
	}
	
/*---------------- END (Header $& Footer Styles - Author J. Ross) ----------------*/
	
	
	
	


/*** CHAPTER 2 : MAIN CONTENT BLOCK STYLES ***/	
	
/******************** BEGIN (Main Content Block Styles - Author B. Fisher) ********************/

/* Colors
 * Brown: #4e0808
 * Red: #991010
 * Rust: #860f0f
 * Off White: #fcfcfc
 */

#main{ font-size:16px; width:100%; }
#main h1 { font-size:1.5em; line-height:2em; }
#main h2 { font-size:1.5em; line-height:0.75em; }
#main h3 { font-size:1.2em; }

#main h1 { margin:0px; }

#main_slideshow {
	background-image: -webkit-linear-gradient(left , rgba(255,255,255, 1) 5%, rgba(255,255,255,0) 10%),
		url(../images/red_abstract.jpg);
	background-image: -moz-linear-gradient(left , rgba(255,255,255, 1) 5%, rgba(255,255,255,0) 10%),
		url(../images/red_abstract.jpg);
	background-repeat: no-repeat;
	
	}

/*** Secondary Navigation Styles ***/

#main nav{ 	color: #fcfcfc;	font: bold 1.2em/1.2em arial, sans-serif; }

#main nav.VGP {
	background-image: linear-gradient(top, #3C2100 24%, #754301 86%);
	background-image: -o-linear-gradient(top, #3C2100 24%, #754301 86%);
	background-image: -moz-linear-gradient(top, #3C2100 24%, #754301 86%);
	background-image: -webkit-linear-gradient(top, #3C2100 24%, #754301 86%);
	background-image: -ms-linear-gradient(top, #3C2100 24%, #754301 86%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.24, #3C2100),
		color-stop(0.86, #754301)
	);
}

#main nav.CSI{
	background-image: linear-gradient(top, #bd3e0e 24%, #ee561d 86%);
	background-image: -o-linear-gradient(top, #bd3e0e 24%, #ee561d 86%);
	background-image: -moz-linear-gradient(top, #bd3e0e 24%, #ee561d 86%);
	background-image: -webkit-linear-gradient(top, #bd3e0e 24%, #ee561d 86%);
	background-image: -ms-linear-gradient(top, #bd3e0e 24%, #ee561d 86%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.24, #bd3e0e),
		color-stop(0.86, #ee561d)
	);
}

#main nav h1{
	color: linear-gradient(left top, #CCCCCC 16%, #FFFFFF 70%);
	color: -o-linear-gradient(left top, #CCCCCC 16%, #FFFFFF 70%);
	color: -moz-linear-gradient(left top, #CCCCCC 16%, #FFFFFF 70%);
	color: -webkit-linear-gradient(left top, #CCCCCC 16%, #FFFFFF 70%);
	color: -ms-linear-gradient(left top, #CCCCCC 16%, #FFFFFF 70%);

	color: -webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0.16, #CCCCCC),
		color-stop(0.7, #FFFFFF)
	);

font-weight:normal;
letter-spacing:1px;
text-shadow: 1px -1px #333, -1px -1px #AAA;
}

#main nav h1 img{ margin-right:15px; position:relative; vertical-align:text-top; }
#main nav h1 span{ font-size:0.8em; }

#main nav > ul{ margin-left:97px; height:150px; min-width:1000px; }
#main nav ul ul { float:left; width:20%; }
#main nav ul li{ padding-bottom:1em;  }

#main nav ul li.active{
	background: transparent url(../images/sm_arrow.png) no-repeat 0px 3px;
	margin-left:-40px;
	padding-left:40px;
}

#main nav ul li a:link { color:#fcfcfc; }
#main nav ul li a:visited { color:#CCC; }
#main nav ul li a:hover { text-decoration:underline; }
#main nav ul li a:active { color:#FFF; }

#main div.content_splash, #main nav.content_splash {
	-moz-box-shadow: 0px 15px 52px #e4e4e4;
	-webkit-box-shadow: 0px 15px 52px #e4e4e4;
	box-shadow: 0px 50px 60px #e4e4e4;

	height:209px;
	width:100%;
}

/*** Main Content Block Styles ***/

#main section {
	margin:0 auto;
	position:relative;
	width:960px;
}

#main section h1, #main section h2 { color: #4e0808; }
#main section h1 { font-size:2em; font-weight:normal; margin:1.5em 0 0 1em;  padding-bottom:40px;}
#main section h2 { font-weight:bold; font-size:19px; margin-bottom: 30px;}
#main section h3 { color: #991010; }

#main section ul.profiles{ float:left; list-style-type:none; width:inherit; }
#main section ul.profiles li{ float:left; margin:0 2em; min-width:280px; width:30%; }
#main section ul.profiles li img{ float:left; margin:0 1em 1em 0;}

#main section div.news{ float:left; width:25%; padding-right:5%; }
#main section div.news p { padding-bottom: 30px; line-height:20px; font-size: 13px;}
#main section div:first-of-type{ margin-left:30px; }

#main section ul.dept_list {
	color:#860f0f;
	float:left;
	font-size:0.75em;
	overflow:visible;
	list-style-type:none;
	margin-bottom:1em;
	text-transform:uppercase;
}
#main section ul.dept_list li { display:inline-block; float:left; margin:0; }
	#main section ul.dept_list li:after { content:", "; }
	#main section ul.dept_list li:last-child:after { display:none; }
	
	
	
/*---------------- END (Main Content Block Styles - Author B. Fisher) ----------------*/













