<!-- ## CONTENT SECTION ## -->
    <div id="main" role="main">
    	<nav class="CSI content_splash">
    		<h1><img src="images/CSI_Icon.png" alt="CSI" />Carrer Services <span>and</span> Internships</h1>
    		<ul>
    			<ul>
					<li class="active">Staff Profiles</li>
					<li><a href="#">Internships</a></li>
					<li><a href="#">Student Employment</a></li>
					<li><a href="#">Resume Tips</a></li>
				</ul>
				<ul>
					<li><a href="#">Job Search To&ndash;Do List</a></li>
				</ul>
    		</ul>
    	</nav>
		
		<section id="StaffProfiles">
			<h1>Staff Profiles</h1>
			<div class="row">
				<div class="profile span2">
					<h2>Julie Williamson</h2>
					<h3>Director of Career Services</h3>
					
					<p><img src="images/thumbs/JulieWilliamson.jpg" alt="Laurie" /> After 16 years in the creative arts, Julie Williamson knows how to make connections between people and projects. She facilitates these daily as the Director of Career Services for the Art Institute of Portland. Julie has developed these skills by working in the episodic television, advertising and entertainment production industries, working as a production manager and producer including stints as a freelancer for companies such as Warner Brothers Television and Bond Films, and on staff with such Northwest luminaries as Tyee and Vinton Studios.  Julie also worked as the career advisor for our Animation and Digital Film students and has a true commitment to seeing all our graduates fulfill their ambitions.</p>
					<p>Her passion for serving the creative industries extends beyond the walls of the college as a way of life for Julie. She is currently the President of the Board of Directors of the Oregon Media Production Association, the largest nonprofit film, video and multimedia association in Oregon, a member of the Portland Business Association, and a frequent attendee and participant in creative economy initiatives and industry events in and around Portland.</p>
					<p>Julie&apos;s sense of community participation, personal integrity, gracious humor, program-relevant industry experience, business acumen, and management skills make for a valuable and dynamic leader.  She is dedicated to empowering people to live their dreams and brings that sense of purpose and commitment to every endeavor she undertakes.</p> 
				</div>
			</div>
			
			<div class="row">
				<div class="profile span2">
					<h2>Tafflyn Williams-Thomas</h2>
					<h3>Career Advisor</h3>
					<ul class="dept_list clearfix">
						<li>Digital Film &amp; Video</li>
						<li>Visual Effects &amp; Motion Graphics</li>
						<li>Photography</li>
						<li>Web Design &amp; Interactive Media</li>
					</ul>
					
					<p><img src="images/thumbs/TafflynWilliams.jpg" alt="Tafflyn" /> Three things are becoming increasingly rare in Portland: PC laptops, coffee shops without free wireless and people who were actually born in the city. In Tafflyn Williams-Thomas, the Art Institute managed to find one of the few people who fit into that last category. Born and raised on Portland&apos;s westside, Tafflyn joined our team as a Career Advisor in March 2007.  Before joining us Tafflyn was a workforce development consultant for ten years.  She provided leadership to the Portland Design Festivals and Mayor Katz's Creative Economy Initiative. Her work with post secondary education includes student design showcases, student workshops and a creative services capacity building project.  Tafflyn's placement background includes working with homeless adults, developmentally disabled individuals and youth.  Tafflyn received her Bachelor of Science degree in Rhetoric and Communications at the University of Oregon.</p>
				</div>
			</div>
			
		</section>

    </div> <!--- End of #main --->