    <!-- ## FOOTER ##-->
    <footer>
    
    	<div id="skyline"></div>
		
		<ul id="footerLinks">
			<a href=""><li>A to Z Index</li></a>
			<a href=""><li>The Art Institutes</li></a>
			<a href=""><li>Education Management Corporation</li></a>
			<a href=""><li>Accreditation and Licensing</li></a>
			<a href=""><li>Privacy Policy</li></a>
		</ul>
		<ul id="copyright">
			<li>The Art Institute of Portland</li>
			<li>1122 N.W. Davis Street, Portland, OR 97209-2911</li>
			<li>1.503.228.6528 • 1.888.228.6528</li>
			<li>©2011 by The Art Institute of Portland</li>
		</ul>
		
    </footer>
  </div> <!--! end of #container -->