<!-- ## CONTENT SECTION ## -->
    <div id="main" role="main">
    	<div id="main_slideshow" class="content_splash">
    		
    	</div>
		<section>
			<div class="row">
				<h1>News <span>&amp;</span> Events</h1>
				<div class="news">
					<h2>Dates and Stuff</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis blandit dui nec ullamcorper. Proin scelerisque pellentesque lacus, et convallis turpis vestibulum aliquet. Cras sit amet ligula urna, pharetra dignissim magna. Proin tristique blandit risus, at ornare nisl tristique sed. Mauris risus nunc, consequat eget rutrum et, porta in lorem. Cras porta, leo vitae eleifend consectetur, sapien ipsum venenatis massa, a accumsan magna justo quis mauris. Suspendisse molestie feugiat convallis. Vestibulum vel tellus volutpat ante laoreet rutrum. Quisque semper nulla nec augue tempus imperdiet. Duis posuere turpis non justo rutrum volutpat. Vestibulum quis neque leo. Quisque vitae dolor eget sapien dictum convallis. </p>
	
					<p>Ut rutrum, mi a euismod lacinia, mi dolor laoreet mi, vel pellentesque ante libero at nulla. Vivamus id velit sit amet lorem commodo molestie. Suspendisse molestie volutpat ante id volutpat. Aliquam in tempus sem. Praesent faucibus nulla aliquet erat tempor sit amet ornare metus imperdiet. Nam porttitor mollis laoreet. Suspendisse potenti. Nam at augue metus. Mauris congue vulputate vulputate. Mauris varius nibh sit amet sapien ultricies ut aliquet ante condimentum. Aliquam nisi eros, aliquam eget placerat non, rutrum eget purus.</p>
				</div>
				<div class="news">
					<h2>Dates and Stuff</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis blandit dui nec ullamcorper. Proin scelerisque pellentesque lacus, et convallis turpis vestibulum aliquet. Cras sit amet ligula urna, pharetra dignissim magna. Proin tristique blandit risus, at ornare nisl tristique sed. Mauris risus nunc, consequat eget rutrum et, porta in lorem. Cras porta, leo vitae eleifend consectetur, sapien ipsum venenatis massa, a accumsan magna justo quis mauris. Suspendisse molestie feugiat convallis. Vestibulum vel tellus volutpat ante laoreet rutrum. Quisque semper nulla nec augue tempus imperdiet. Duis posuere turpis non justo rutrum volutpat. Vestibulum quis neque leo. Quisque vitae dolor eget sapien dictum convallis. </p>
				</div>
				<div class="news">
					<h2>Dates and Stuff</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis blandit dui nec ullamcorper. Proin scelerisque pellentesque lacus, et convallis turpis vestibulum aliquet. Cras sit amet ligula urna, pharetra dignissim magna. Proin tristique blandit risus, at ornare nisl tristique sed. Mauris risus nunc, consequat eget rutrum et, porta in lorem. Cras porta, leo vitae eleifend consectetur, sapien ipsum venenatis massa, a accumsan magna justo quis mauris. Suspendisse molestie feugiat convallis. Vestibulum vel tellus volutpat ante laoreet rutrum. Quisque semper nulla nec augue tempus imperdiet. Duis posuere turpis non justo rutrum volutpat. Vestibulum quis neque leo. Quisque vitae dolor eget sapien dictum convallis. </p>
				</div>
			</div>
		</section>

    </div>
