    
    
    <!-- ## CONTENT ## -->
    <div id="main" role="main">
    	<nav class="VGP content_splash">
    		<h1><img src="images/VGP_Icon.png" alt="VGP" />Visual <span>and</span> Game Programming</h1>
    		<ul>
    			<li class="active">Faculty Profiles</li>
    			<li><a href="#">Student Profiles</a></li>
    			<li><a href="#">Course Placemat</a></li>
				<li><a href="#">Alumni Profiles</a></li>
    		</ul>
    	</nav>
		
		<section id="FacultyProfiles">
			<h1>Faculty Profiles</h1>
			
			<div class="row">
				<div class="profile">
					<h2>Laurie Brown Torelli</h2>
					<h3>Interim Department Director</h3>
					<img src="images/thumbs/LaurieTorelli.jpg" alt="Laurie" />
					<p>Completely impact multifunctional processes and wireless supply, linking the china together.</p>
					<p>Dynamically engage business meta-services for market-driven data. Collaboratively restore cross-platform users before client-centered manufactured products.</p>
					<p>Assertively evolve long-term high-impact vortals through visionary solutions. Professionally harness standardized portals vis-a-vis resource maximizing deliverables. Continually coordinate stand-alone applications rather than virtual communities.</p>
				</div>
				<div class="profile">
					<h2>Keld Bangsberg</h2>
					<h3>Full&ndash;Time Faculty</h3>
					<img src="images/thumbs/smallKeldBangsberg.png" alt="Keld" />
					<p>Completely impact multifunctional processes and wireless supply, linking the china together.</p>
					<p>Dynamically engage business meta-services for market-driven data. Collaboratively restore cross-platform users before client-centered manufactured products.</p>
					<p>Assertively evolve long-term high-impact vortals through visionary solutions. Professionally harness standardized portals vis-a-vis resource maximizing deliverables. Continually coordinate stand-alone applications rather than virtual communities.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="profile">
					<h2>Mark Heller</h2>
					<h3>Part&ndash;Time Faculty</h3>
					<img src="images/thumbs/smallMarkHeller.png" alt="Mark" />
					<p>Completely impact multifunctional processes and wireless supply, linking the china together.</p>
					<p>Dynamically engage business meta-services for market-driven data. Collaboratively restore cross-platform users before client-centered manufactured products.</p>
					<p>Assertively evolve long-term high-impact vortals through visionary solutions. Professionally harness standardized portals vis-a-vis resource maximizing deliverables. Continually coordinate stand-alone applications rather than virtual communities.</p>
				</div>
				<div class="profile">
					<h2>Jeff Abramson</h2>
					<h3>Part&ndash;Time Faculty</h3>
					<img src="images/thumbs/jeff_abramson.jpg" alt="Jeff" />
					<p>Completely impact multifunctional processes and wireless supply, linking the china together.</p>
					<p>Dynamically engage business meta-services for market-driven data. Collaboratively restore cross-platform users before client-centered manufactured products.</p>
					<p>Assertively evolve long-term high-impact vortals through visionary solutions. Professionally harness standardized portals vis-a-vis resource maximizing deliverables. Continually coordinate stand-alone applications rather than virtual communities.</p>
				</div>
				<div class="profile">
					<h2>Ian Romanick</h2>
					<h3>Part&ndash;Time Faculty</h3>
					<img src="images/thumbs/ianromanick.jpg" alt="Ian" />
					<p>Completely impact multifunctional processes and wireless supply, linking the china together.</p>
					<p>Dynamically engage business meta-services for market-driven data. Collaboratively restore cross-platform users before client-centered manufactured products.</p>
					<p>Assertively evolve long-term high-impact vortals through visionary solutions. Professionally harness standardized portals vis-a-vis resource maximizing deliverables. Continually coordinate stand-alone applications rather than virtual communities.</p>
				</div>
			</div>
		</section>

    </div> <!--- End of #main --->
    
    