<!-- ## CONTENT ## -->
<div id="main" role="main">
  <nav class="WDIM content_splash">
  	<div id="social_links">
		<ul>
			<li><a href="#" class="hide">Facebook</a></li>
			<li><a href="#" class="hide">Twitter</a></li>
			<li><a href="#" class="hide">Blog</a></li>
		</ul>
	</div>
  	<h1><img src="/images/WDIM_Icon.png" alt="WDIM" />Web Design <span>and</span> Interactive Media</h1>
  	<ul>
  		<ul>
  			<li><a href="#">News &amp; Updates</a></li>
  			<li class="active"><a href="#">Faculty Profiles</a></li>
  			<li><a href="#">Student Profiles</a></li>
  			<li><a href="#">Alumni Profiles</a></li>
  		</ul>
		<ul>
			<li><a href="#">Course Placemat</a></li>
		</ul>
  	</ul>
  </nav>
  
  <section id="FacultyProfiles">
  	<h1>Faculty Profiles</h1>
  	<div class="row">
  		<div class="profile">
  			<h2>William Siebold</h2>
  			<h3>Department Director</h3>
  			<p><img src="/images/thumbs/smallBillSiebold.png" alt="William Siebold" />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  			<p>Fusce vel velit enim, eget imperdiet erat. Sed tincidunt lacus ut enim accumsan adipiscing. Maecenas tincidunt dolor eu justo faucibus quis luctus sem aliquet. Aenean ac enim eget ligula pretium adipiscing. Aliquam tortor orci, sagittis a sollicitudin ut, bibendum vitae nibh. Proin varius varius tortor, a interdum urna euismod nec. Duis placerat erat ac dui tincidunt placerat. Fusce placerat rhoncus scelerisque. Aliquam vel leo odio, in malesuada magna. Praesent placerat euismod dui, eget ultrices justo tristique ac. Nam ut metus eu magna tincidunt venenatis a ut ligula. Pellentesque a elit in est scelerisque vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  		</div>
  		<div class="profile">
  			<h2>J. Griffin Walker</h2>
  			<h3>Full-Time Faculty</h3>
  			<p><img src="/images/thumbs/gwalker_portrait_sm.jpg" alt="J. Griffin Walker" />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  			<p>Fusce vel velit enim, eget imperdiet erat. Sed tincidunt lacus ut enim accumsan adipiscing. Maecenas tincidunt dolor eu justo faucibus quis luctus sem aliquet. Aenean ac enim eget ligula pretium adipiscing. Aliquam tortor orci, sagittis a sollicitudin ut, bibendum vitae nibh. Proin varius varius tortor, a interdum urna euismod nec. Duis placerat erat ac dui tincidunt placerat. Fusce placerat rhoncus scelerisque. Aliquam vel leo odio, in malesuada magna. Praesent placerat euismod dui, eget ultrices justo tristique ac. Nam ut metus eu magna tincidunt venenatis a ut ligula. Pellentesque a elit in est scelerisque vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  		</div>
  	</div>
  </section>
  
</div> <!-- End main content -->
